/* phil welsby - 19 jan 2021 */
/* main CSS file */


/*set background colour*/

* {
/*    background-color: #ffe066;*/
    background-color: #ccffcc;
    font-size:  25px;
}


/*don't know what this is doing investigate more*/
  {
    property: value;
    property: value;
}



/*causes a cure around images*/
img {
  border-radius: 60px;
}



  {
     box-sizing: border-box;
     padding:  10px;
}

/*set size and color of h1 headings*/
h1 {
  color: red;
  text-align: center;
  font-size: 50px;
}


/*set size and color of h2 headings*/
h2 {
  color: blue;
  text-align: left;
  font-size: 30px;
}

/*set size and color for h4 headings*/
h4  {
    text-align: left;
}

/*wrap long words so they don't finish badly at end of page*/
 div {
  word-wrap: break-word;
}


/* set image to center of page*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

/*set image size
img  {
    width: 20%;
}*/


/*what does this do?*/

/*CSS Create Multiple Columns*/

/*specify column count*/
div {
  column-count: 1;
}

/*specify gap between columns*/
div {
  column-gap: 40px;
}


/*CSS Column Rules*/
div {
  column-rule-style: solid;
}

/*specify the column width*/
div {
  column-width: 200px;
}



/*paragraph width auto set*/
p {
  border-bottom:1px dotted;
  margin-left:  150px;
  margin-right: 150px;
  text-align:center;
  font-size:  30px;
}

/*from stackoverflow*/
p { display: inline-block; 
    color: #000000;}

/*from w3schools
div {
  width: 2800px; 
  border: 1px solid #000000;
}*/

/**/
div{
width: 2500px;
margin: 20px;
/*background: palegoldenrod;*/
/*border: 5px dotted lightskyblue;*/
/*box-shadow: inset 10px 10px 15px 15px white;*/
/*font-style: italic;*/
overflow-wrap:normal;
}

/*add margin
.center  {
   margin: auto;
   background: lime;
   width:  30%;
}*/

.outside  {
    margin:  3rem  0  0  -3  rem;
    background:  cyan;
    width:  66%;
}



/*Advise from Liam to add padding and margin*/

/*add padding*/
h1 {
  padding: 5px 30px;
}

h2  {
     padding:   5px  5px  5px  5px
}

h3  { font-size: 35px;
   }



/*create a border around  div */
div  {
     padding:  10px;
     border:   5px solid #000000
}


/*add padding to lists*/
ul  { padding:   50px;
}

